.about-us__content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 15px;
    animation: fade ease-in-out both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}

.about-us__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-us__details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-us__text-box-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.about-us__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--blue-color);
}

.about-us__description {
    font-size: 0.9rem;
}

.about-us__button-wrapper {
    text-align: left;
}

/* MEDIA QUERIES */
@media screen and (min-width: 769px) and (max-width: 999px) {
    .about-us__title {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .about-us__content-wrapper {
        grid-template-columns: 1fr;
    }

    .about-us__title {
        font-size: 1.1rem;
        text-align: center;
    }

    .about-us__description {
        font-size: 0.8rem;
        text-align: center;
    }

    .about-us__button-wrapper {
        text-align: center;
    }
}

@media screen and (max-width: 599px) {
    .about-us__content-wrapper {
        grid-template-columns: 1fr;
    }

    .about-us__title {
        font-size: 1.1rem;
        text-align: center;
    }

    .about-us__description {
        font-size: 0.8rem;
        text-align: center;
    }

    .about-us__button-wrapper {
        text-align: center;
    }
}


