.footer {
    padding: 2rem 1rem;
    background: var(--blue-color);
}

.footer__content-wrapper {
    max-width: 1140px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.footer__logo-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer__logo-img {
    height: 55px;
    width: auto;
}

.footer__logo-text {
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

.footer__social-icons-wrapper {
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.footer__social-icon-link {
    background: white;
}

.footer__social-icon-link:hover {
    border: 1px solid white;
}

.footer__social-icon-link:hover .footer__social-icon {
    color: white;
}

.footer__social-icon {
    color: var(--blue-color);
}

.footer__content-second-section {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 4;
}

.footer__contact-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}

.footer__contact-details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__contact-details {
    font-size: 0.9rem;
    font-weight: 300;
    color: white;
}

.footer__quick-links-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__quick-links-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}

.footer__quick-links {
    color: white;
    font-size: 0.9rem;
}


/* MEDIA QUERIES */

@media screen and (min-width: 600px) and (max-width: 768px) {
    .footer__content-wrapper {
        grid-template-columns: 1fr;
        gap: 50px;
        place-items: center;
    }

    .footer__content-first-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__content-second-section {
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
    }

    .footer__content-third-section {
        text-align: center;
    }

}

@media screen and (max-width: 599px) {
    .footer__content-wrapper {
        grid-template-columns: 1fr;
        gap: 50px;
        place-items: center;
    }

    .footer__content-first-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__content-second-section {
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
    }

    .footer__content-third-section {
        text-align: center;
    }
}